* {
  font-family: Helvetica;
  color: white;
  /* background-color: black; */
  /* opacity: 0.9; */
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(184, 74, 74);

  height: 70px;
  padding-top: 9px;
  padding-left: 10px;
/*   height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
  display: flex;
  justify-content: space-between; */
}

header h1 {
  color : white;
  background-color: rgb(184, 74, 74);
  text-align: center;
}

main {
  border: 1;
  background-color: black;
  display: grid;
  grid-template: 1fr / 150px 1fr; 
  height : 700px;
}

#menu {
  
}

nav {
  display: grid;
  background: transparent;
    
  opacity: 1;
  grid-row-start: 1;
  background-color: blue;
  /* background: transparent; */
  height : 100%;
  width: 150px;
}

#about,
#location,
#menus,
#contactus {
/*   padding-top: 20px;
  padding-right: 20px; */
  padding: 20px;

}
.main-background-img {
/*   background-image: url("coffee.jpeg");
  opacity: 25%;
  z-index: 1;  */
}

#main-container {
  grid-row-start: 1;
  grid-column-start: 2;
  /* background-color: antiquewhite; */
  /* color: red; */
  height : 100%;
}

footer {
  height: 50px;
  background-color: beige;
  text-align: center;
  color: brown;
  padding-top: 10px;
}